.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.items {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100dvh;
  padding-top: 100px;
}

.item {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.itemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.input {
  width: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #fff;
  z-index: 1;
}

/* .span {
  position: absolute;
  right: 10;
  z-index: 1;
  width: 10px;
  background: #09624c;
  height: 130px;
} */

.itemLeft {
  flex: 1;
  position: absolute;
  width: 75px;
  height: 150px;
  left: 0;
}
.itemRight {
  flex: 1;
  position: absolute;
  width: 75px;
  height: 150px;
  right: 0;
}
.itemLeft:hover {
  flex: 1;
  background-color: #a00a0a;
  position: absolute;
  width: 75px;
  height: 150px;
  left: 0;
}
.itemRight:hover {
  flex: 1;
  background-color: #0c6806;
  position: absolute;
  width: 75px;
  height: 150px;
  right: 0;
}

.display {
  margin-top: 100px;
}

.btn {
  width: 70px;
  height: 40px;
  background-color: #9a1515;
  border: none;
  margin-top: 30px;
  border-radius: 10px;
  color: #fff;
}
